%baseFont
  font-family: $montserrat
  font-size: 12px
  font-weight: 600
  line-height: 1.917

%card
  background-color: $cardBG
  border-radius: $radius

%cardShadow
  background-color: $cardBG
  border-radius: $radius
  transition: box-shadow $tr
  +hover
    box-shadow: $darkShadow

%_about_faq_pages
  padding: 40px 0 56px
  +sm
    padding: 30px 0

body
  background: $light
  color: rgba($text, 0.5)
  @extend %baseFont

.out
  overflow: hidden

.bg
  &-orange
    background-color: $orange
  &-blue
    background-color: $blue
  &-yellow
    background-color: $yellow
  &-extraorange
    background-color: $extraorange
  &-green
    background-color: $green

.text
  &-orange
    color: $orange
  &-blue
    color: $blue
  &-yellow
    color: $yellow
  &-extraorange
    color: $extraorange

.text-right
  text-align: right

.breadcrumbs
  display: flex
  align-items: center
  // padding-bottom: 20px
  padding-top: 40px
  flex-wrap: nowrap
  +sm 
    padding-top: 24px
  &__item
    position: relative
    white-space: nowrap
    font-family: $montserrat
    font-size: 15px
    font-weight: 600
    line-height: 1.533
    color: $blue
    // +sm
    // 	
    // 	font-size: 12px
    &:not(:first-child)
      &:before
        content: "/"
        display: inline-block
        @extend .title
        margin: 0 2px 0 3px
        vertical-align: top
    &:last-child
    	+text-overflow
    a
      @extend .title
      // +hover
      // 	color: $white

.choose
  width: 100%
  width: 187px
  vertical-align: top
  align-items: center
  text-align: center
  justify-content: space-between
  display: inline-flex
  background-color: $light
  border-radius: $radius
  +md
    width: 120px
  &_small
    width: 83px
    +md
      width: 83px
  &__plus,
  &__minus
    @extend .title-lg
    vertical-align: top
    position: relative
    color: $text
    line-height: 1
    background-color: transparent
    padding: 12px 30px 13px
    transition: color 0.4s
    +md
      padding: 12px 15px 13px
    .choose_small &
      @extend %baseFont
  &__plus
    .choose_small &
      padding: 3px 15px 3px 9px
  &__minus
    .choose_small &
      padding: 3px 12px
  &__plus
    +hover 
      color: $orange
  &__minus
    margin-top: -2px
    +hover 
      color: $orange
  &__input
    display: inline-block
    width: 46px
    @extend .title-lg
    font-family: $montserrat
    text-align: center
    background-color: transparent
    +md 
      width: 30px
    .choose_small &
      @extend %baseFont
      width: 25px

.alert-message
  @extend %card
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  margin-top: 17px
  padding: 7px 44px 8px 28px
  +sm 
    flex-direction: column
    padding: 16px 20px
  &__text
    +sm 
      margin-bottom: 6px
      text-align: center

.pagination-container
  &__wrapper
    @extend %card
    padding: 20px 0 15px
    text-align: center
    .pagination
      margin-left: -12px

.pagination
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  &__item
    padding: 0 13px
  &__link
    display: inline-block
    min-width: 12px
    @extend .title
    color: $text
    position: relative
    transition: color $tr
    +hover
      color: $blue
    &:after
      content: ''
      position: absolute
      top: 100%
      left: -2px
      right: -2px
      height: 1px
      background-color: $text
      +fadeout($tr)
    &.is-active
      +hover
        color: $text
      &:after
        +fadein
  &__arrow
    margin-left: 8px
    +hover
      .icon
        color: $blue
    .icon
      color: $text
      font-size: 11px
      transition: color $tr