%title
  font-family: $montserrat
  font-size: 15px
  font-weight: 600
  line-height: 1.533

.title
  @extend %title
  color: $text

.title-upper
  @extend .title
  text-transform: uppercase

.hero-title
  font-size: 32px
  font-weight: 700
  text-transform: uppercase
  color: $text
  line-height: 1.2

.title-lg
  color: $text
  font-size: 20px
  font-weight: 600
  line-height: 1.15
  text-transform: uppercase