---
title: 404 page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div class="not-found">
    <div class="not-found__inner inner">
      <div class="not-found__image">
        <img src="./img/404.svg" alt="not found">
      </div>
      <h2 class="not-found__title">Oops! That page can't be found.</h2>
      <div class="not-found__descr">Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</div>
      <a href="home.html" class="btn btn_blue">Go to Home</a>
    </div>
  </div>

  </div>

{% endblock %}