// colors
$white: #fff
$black: #000
$blackBG: #191818;
$light: #f7f7f7

$orange: #f5881f
$blue: #4d87c6
$yellow: #f9d009

$text: #1e194d


// transition time
$tr: 0.3s

// font-family
$montserrat: 'Montserrat', Helvetica, sans-serif

$darkShadow: 0 10px 24px -10px rgba($black, 0.09);
$lightShadow: 0 22px 44px -11px rgba($black, 0.16);

$radius: 5px