<div class="availability">
  <div class="availability__inner inner">
    <div class="availability__icon-wrapper">
      <div class="availability__icon bg-extraorange">{{ mixins.icon('building') }}</div>
    </div>
    <div class="availability__wrapper">

      <h3 class="availability__title title">
        Check if your bank is available
      </h3>
      <div class='availability__text'>We are currently working on onboarding as many banks as possible. You can check the list of the banks we work with here</div>
      <div class="availability__btn">
        <a href="#" class="btn btn_extraorange">Check</a>
      </div>
    </div>
  </div>
</div>