<div class="cart-totals">
  <h3 class="cart-totals__title title-lg">cart totals</h3>
  <div class="cart-totals__row">
    <div class="cart-totals__left">
      <span class="cart-totals__subtitle">subtotal</span>
    </div>
  </div>
  <div class="cart-totals__row">
    <div class="cart-totals__left">
      <span class="cart-totals__subtitle">shipping</span>
    </div>
    <div class="cart-totals__right">
      <div class="cart-totals__col">
        Flat rate: $1.00
      </div>
      <div class="cart-totals__col">
        Estimate for Russia.
      </div>
      <div class="adress-form">
        <label class="adress-form__label text-blue" for='adress-toggler'>
          Change address
        </label>
        <input type="checkbox" id='adress-toggler' class="adress-form__checkbox" />
        <div class="adress-form__hidden">
          <div class="adress-form__field">
            <input type="text" class="bg-input" placeholder="Russia" />
          </div>
          <div class="adress-form__field">
            <input type="text" class="bg-input" placeholder="State / Country" />
          </div>
          <div class="adress-form__field">
            <input type="text" class="bg-input" placeholder="City" />
          </div>
          <div class="adress-form__field">
            <input type="text" class="bg-input" placeholder="Postcode / ZIP" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-totals__row">
    <div class="cart-totals__left">
      <span class="cart-totals__subtitle">total</span>
    </div>
    <div class="cart-totals__right text-right">
      <span class="cart-totals__subtitle">$121.00</span>
    </div>
  </div>
  <div class="cart-totals__buttons">
    <a href="#" class="btn btn_orange">Add to cart</a>
    <a href="#" class="btn btn_blue">Add to cart</a>
  </div>
</div>
