<div class="contact-form-card">
  <form class="contact-form validation">
    <h3 class="contact-form__title">Contact form</h3>
    <div class="contact-form__row">
      <div class="contact-form__col">
        <div class="input-group">
          <input type="text" class="input-group__input" placeholder="Your name" data-validation="required"/>
        </div>
      </div>
      <div class="contact-form__col">
        <div class="input-group">
          <input type="text" class="input-group__input" placeholder="Your email" data-validation="required email"/>
        </div>
      </div>
    </div>
    <div class="contact-form__row">
      <div class="input-group">
        <textarea class="input-group__input input-group__input_textarea js-textarea" placeholder="Your message" data-validation="required"></textarea>
        <button type="submit" class="input-group__btn">Sign Up</button>
      </div>
    </div>
  </form>
</div>