<div class="footer">
  <div class="footer__inner inner">
    <div class="footer__wrapper">
      <div class="footer__col">
        <h2 class="footer__title title-upper">Contact us</h2>
        <ul class="footer-list">
          <li class="footer-list__item">
            <span class="footer-list__link">730 Nestor Landing Suite
              <br>809</span></li>
          <li class="footer-list__item">
            <a href='tel:+8002540547315' class="footer-list__link">(+800) 254-054-7315</a>
          </li>
          <li class="footer-list__item">
            <a href='mailto:Support@PSDGirl.com' class="footer-list__link">Support@PSDGirl.com</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h2 class="footer__title title-upper">My account</h2>
        <ul class="footer-list">
          {% for item in[
            {
              text: 'Sitemap',
              link: '#'
            }, {
              text: 'Privacy Policy',
              link: '#'
            }, {
              text: 'Returns',
              link: '#'
            }, {
              text: 'Your Account',
              link: '#'
            }, {
              text: 'Advanced Search',
              link: '#'
            }, {
              text: 'Contact us',
              link: '#'
            }
          ] %}
            <li class="footer-list__item">
              <a href="{{ item.link }}" class="footer-list__link">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__col">
        <h2 class="footer__title title-upper">Newsletter</h2>
        <p>Sign up for Our Newsletter
          <br>& Promotions</p>
        <div class="footer__form">
          <form action="/" class="signup-form">
            <input type="text" class="signup-form__input" placeholder="Your email">
            <button type='button' class="signup-form__btn">Sign Up</button>
          </form>
        </div>
      </div>
      <div class="footer__col footer__col_logo">
        <a href="/" class="logo">
          <img class="logo__image" src="./img/logo_with_text.svg" alt="logo"/>
          <h1 class="logo__text">ROSAN PAY</h1>
        </a>
      </div>
    </div>

  </div>
</div>