<div class="product-descr-card">
  <div class="tabs" data-tabs="product-descr">
    <div class="tabs__out">
      <div class="tabs__current" data-tabs-current="data-tabs-current"><span></span></div>
      <ul class="tabs__list inner">
        {% for item in [
          {
            id: 'description',
            text: 'Description'
          },
          {
            id: 'additional-info',
            text: 'Additional information'
          }
        ] %}
          <li class="tabs__item" data-tabs-control="{{ item.id }}">
            {{ item.text }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tabs__wrap" data-tabs-wrapper>
      <div class="tabs__container" data-tabs-container="description">
        <div class="tabs__inner inner">
          <p>
            It doesn’t matter if you are a stay at home mom, or a corporate professional. You need to keep your appearance at it’s best all the time, and that can be a hard job. But what if you don’t always have the time to go to a Spa for a professional facial? I’ve got just the solution for you.
          </p>
          <p>
            Today, many Spas provide what is know as MicroDermaBrasion. With this technique, a Spa technician exfoliates the dead layers of skin from your face by using a system similar to sandblasting, but on a much, much smaller scale. With the dead layers of skin removed from your face, it now reveals the fresh new skin underneath. This can give you the appearance of a face lift, without the cost or the surgery.
          </p>
          <p>
            Most women who undergo MicroDermaBrasion, find that afterwards their skin is sensitive, irritated, and sometimes swollen. Not to mention a professional Spa treatment takes a appointment, and can cost generally between $150 -$600 dollars. So what can you do for yourself that’s just as effective, is quick, and not expensive at all? It’s called a lemon salt scrub. Here’s what you will need.
          </p>
        </div>
      </div>
      <div class="tabs__container" data-tabs-container="additional-info">
        <div class="tabs__inner inner">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis perspiciatis repudiandae laborum fuga corporis at tenetur doloribus totam reiciendis, voluptas est iste vel explicabo sint officiis id dicta! Asperiores delectus atque reprehenderit doloremque tempore qui sequi architecto veritatis, excepturi est porro sint odio reiciendis culpa minus quasi sapiente fugit.</p>
        </div>
      </div>
    </div>
  </div>
</div>