<div class="product-descr-card">
	<div class="product-descr-card__inner inner">
		<div class="tabs" data-tabs="product-descr">
			<div class="tabs__out">
				<div class="tabs__current" data-tabs-current="data-tabs-current"><span></span></div>
				<ul class="tabs__list inner">
					{% for item in [
						{
							id: 'description',
							text: 'Description'
						},
						{
							id: 'additional-info',
							text: 'Additional information'
						}
					] %}
						<li class="tabs__item" data-tabs-control="{{ item.id }}">
							{{ item.text }}
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="tabs__wrap" data-tabs-wrapper>
				<div class="tabs__container" data-tabs-container="description">
					<div class="tabs__inner inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis perspiciatis repudiandae laborum fuga corporis at tenetur doloribus totam reiciendis, voluptas est iste vel explicabo sint officiis id dicta! Asperiores delectus atque reprehenderit doloremque tempore qui sequi architecto veritatis, excepturi est porro sint odio reiciendis culpa minus quasi sapiente fugit.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur distinctio et quidem? Vel ipsum atque commodi nam consequatur iusto corrupti error ab veniam doloremque? Deserunt repellendus veritatis unde! Minus eos reiciendis sapiente, quaerat hic dignissimos? Nisi pariatur quo maiores quasi laboriosam cumque odio accusantium ratione omnis hic dignissimos repellendus, consequatur, illum itaque sit voluptatum, ipsum repudiandae fugit vel dolorum et non provident! Alias placeat id at quae, tempore totam eveniet eum hic consectetur voluptatibus cumque, perferendis, impedit repudiandae modi beatae libero reiciendis numquam rem ex autem quasi? Tempora obcaecati ducimus explicabo porro qui, corrupti repellat saepe alias, iste, quae quas.</p>
					</div>
				</div>
				<div class="tabs__container" data-tabs-container="additional-info">
					<div class="tabs__inner inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque omnis perspiciatis repudiandae laborum fuga corporis at tenetur doloribus totam reiciendis, voluptas est iste vel explicabo sint officiis id dicta! Asperiores delectus atque reprehenderit doloremque tempore qui sequi architecto veritatis, excepturi est porro sint odio reiciendis culpa minus quasi sapiente fugit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>