<div class="related-slider-parent js-related-slider-parent">
  <div class="related-slider js-related-slider">
      {% for i in [0,1,2] %}
        {% for item in [
          {
            image: 'card_image_1.png',
            sale: true,
            withLikes: true
          },
          {
            image: 'card_image_2.png',
            withLikes: true
          },
          {
            image: 'card_image_3.png',
            withLikes: true
          }
        ] %}
        <div class="related-slider__slide">
            {{ mixins.card(item) }}
        </div>
        {% endfor %}
      {% endfor %}
  </div>
  <div class="related-slider-controls js-related-slider-controls">
    <button class="related-slider-controls__prev js-related-slider-prev" type="button">{{ mixins.icon('prev-arrow') }}</button>
    <button class="related-slider-controls__next js-related-slider-next" type="button">{{ mixins.icon('next-arrow') }}</button>
  </div>
</div>