<div class="subscription">
  <div class="subscription__inner inner">
    <div class="subscription__wrapper">
      <div class="subscription__image">
        <div class="logo-card">
          <img src="./img/logo_with_text.svg" alt="">
        </div>
      </div>
      <div class="subscription__form">
        <div class="subscription-card">
          <h3 class="subscription-card__title title-lg">Newsletter</h3>
          <div class="subscription-card__text">Sign up for Our Newsletter & Promotions</div>
          <div class="subscription-card__form">
            <form action="/" class="subscr-form validation">
              <div class="input-group">
                <input type="text" class="input-group__input" placeholder="Your email" data-validation="required email">
                <button type='submit' class="input-group__btn">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>