.btn-link
  display: inline-block
  color: $blue
  background: none
  border: none
  font-family: $montserrat
  font-size: 15px
  font-weight: 600
  line-height: 1.533
  transition: color $tr
  +hover
    color: $orange

.btn
  display: inline-block
  padding: 13px 20px
  min-width: 207px
  text-align: center
  color: $white
  @extend %title
  border-radius: $radius
  transition: background-color $tr, box-shadow $tr, transform $tr
  +md
    min-width: 180px
  &_sm
    padding: 3px 19px 4px
    font-family: $montserrat
    font-size: 12px
    font-weight: 600
    line-height: 1.917
  &_extraorange
    background-color: $extraorange
    +hover
      background-color: darken($extraorange, 5%)
      &:active
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
        transform: translateY(-1px)
  &_blue
    background-color: $blue
    +hover
      // background-color: darken($blue, 5%)
      // &:active
      //   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
      //   transform: translateY(-1px)
      background-color: $orange
      &:active
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
        transform: translateY(-1px)
        background-color: darken($orange, 5%)
  &_orange
    background-color: $orange
    +hover
      background-color: darken($orange, 5%)
      &:active
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
        transform: translateY(-1px)

.like
  +circle(30)
  background-color: $purple
  position: relative
  display: inline-block
  transition: background-color $tr
  .icon
    +vcenter
    font-size: 8px
    color: $white

.up-btn
  display: inline-block
  +vertical
  +circle(24)
  font-size: 0
  background-color: $blue
  transition: background-color $tr
  +sm 
    +circle(18)
  +hover
    background-color: $orange
  .icon
    +icenter
    transform: rotate(90deg)
    transform-origin: center
    font-size: 7px
    color: $white

.delete-btn
  position: relative
  display: inline-block
  vertical-align: middle
  font-size: 0
  background-color: transparent
  &:after
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
    background-color: transparent
  +hover
    .icon
      color: $extraorange
  .icon
    font-size: 5px
    color: $text
    transition: color $tr