.cart-page
  padding-bottom: 63px
  +sm 
    padding-bottom: 40px


.product,
.woocommerce div.product
  margin-bottom: 12px
  display: flex
  +sm 
    flex-direction: column
    align-items: center
  &__slider
    +flex-size(320px)
    overflow: hidden
    +sm 
      margin-bottom: 24px
      +flex-size(auto)
      max-width: 290px
  &__card
    flex-grow: 1
    padding-left: 10px
    +sm 
      padding-left: 0
    .product-card
      height: 100%

.product-card
  padding: 40px 72px 45px 27px
  background-color: $white
  border-radius: $radius
  +md 
    padding: 30px 20px
  &__title
    margin-bottom: 8px
  &__prices
    @extend .title-lg
    margin-bottom: 18px
  &__current-price
    display: inline-block
    margin-right: 10px
  &__old-price
    display: inline-block
    color: #e1dddd
    text-decoration: line-through
  &__like
    position: relative
    margin-bottom: 24px
    +md 
      margin-bottom: 8px
    .like
      background-color: #e1dddd
    input[type='checkbox']
      opacity: 0
      visibility: hidden
      position: absolute
      height: 0
      &:checked
        ~ .like
          background-color: $purple
  &__info
    margin-bottom: 30px
    .product-code,
    .product-category
      +icenter
    .product-code
      margin-right: 30px
  &__descr
    margin-bottom: 27px
  &__actions
    font-size: 0
    .choose
      margin-right: 20px
      +xs 
        margin-bottom: 10px

.product-category
  @extend .title
  &__category
    text-transform: uppercase

.product-descr-card
  padding: 30px 50px 30px 28px
  margin-bottom: 33px
  background-color: $white
  border-radius: $radius
  +sm 
    padding: 30px 20px
  p 
    &:not(:last-child)
      margin-bottom: 22px