.faq
  @extend %_about_faq_pages
  &__title
    margin-bottom: 21px
  &__wrapper
    padding: 42px 42px 42px 34px
    @extend %card
    +sm 
      padding: 36px 20px

.accordion
  &:not(:last-child)
    margin-bottom: 24px
  &__trigger
    display: flex
    align-items: center
    margin-bottom: 5px
  &__trigger-text
    margin-right: 12px
    @extend %baseFont
    color: $text
  &__trigger-btn
    transform: rotate(180deg)
    transition: transform 0.35s
    flex-shrink: 0
    .is-open &
      transform: rotate(0deg)
  &__content
    display: none
    p
      &:not(:last-child)
        margin-bottom: 24px