.feature
  padding: 30px 50px 30px
  text-align: center
  border-radius: $radius
  background-color: $cardBG
  position: relative
  backface-visibility: hidden
  +md
    padding: 20px
  &:after
    z-index: -1
    content: ''
    +coverdiv
    border-radius: $radius
    background-color: $cardBG
    transition: transform 0.4s
    transform-origin: center
    box-shadow: $lightShadow
    backface-visibility: hidden
  +hover
    &:after
      transform: scale(1.03)
  &__image-wrapper
    font-size: 0
    +sm
      margin-bottom: 4px
  &__image
    display: inline-flex
    justify-content: center
    align-items: center
    +circle(100)
    position: relative
    +md 
      +circle(60)
    .icon
      color: $white
    .icon-card
      font-size: 36px
      +md
        font-size: 24px
    .icon-shield
      font-size: 50px
      +md
        font-size: 32px
    .icon-touch
      font-size: 44px
      +md 
        font-size: 32px
  &__title-wrapper
    +flex-center
    min-height: 66px
    padding: 5px 0
  &__title
    max-width: 170px

.features
  margin-bottom: 20px
  +sm
    margin-bottom: 16px
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: stretch
    margin: 0 -10px
    // +sm 
    //   margin: 0 auto
    //   +fadeout($tr)
    //   &.slick-initialized
    //     +fadein
    +sm 
      flex-direction: column
      align-items: center
  &__item
    +flex-size(33.33%)
    padding: 0 10px
    +sm
      flex: 0 0 auto
      max-width: 400px
      &:not(:last-child)
        margin-bottom: 12px
    // +lg 
    //   +flex-size(50%)
    //   margin-bottom: 10px
    // +sm 
    //   padding: 0 10px
    //   height: 100%
    .feature
      height: 100%
  // .slick-track
  //   display: flex
  // .slick-slide 
  //   max-width: 262px
  //   height: auto
  //   & > div
  //     height: 100%

    // .feature
    //   min-height: 489px