%font
  @extend %baseFont
  color: rgba($white, 0.5)
  font-weight: 500

.footer
  background-color: $blackBG
  padding: 80px 0
  &__wrapper
    font-size: 0
    display: flex
    +sm 
      flex-direction: column
  &__title
    color: $white
    margin-bottom: 32px
    +sm 
      margin-bottom: 10px
  &__col
    // display: inline-block
    // width: 25%
    +flex-size(25%)
    vertical-align: top
    +sm 
      +flex-size(100%)
      margin-bottom: 16px
    &_logo
      text-align: right
      +sm 
        order: -1
        text-align: left
    p
      @extend %font
      margin-bottom: 20px
  &__form
    max-width: 180px

.footer-list
  &__item
    &:not(:last-child)
      margin-bottom: 20px
      +sm 
        margin-bottom: 10px
  &__link
    @extend %font
