.search
  position: relative
  &__input
    position: absolute
    right: 0
    top: 0
    +fadeout($tr)
    max-width: 200px
    background-color: transparent
    border-bottom: 1px solid $white
  &__button
    position: relative
    display: inline-block
    background-color: transparent
    font-size: 0
    &:before
      position: absolute
      content: "" 
      top: -5px
      right: -5px
      left: -5px
      bottom: -5px
    +hover
      .icon
        transform: scale(1.2)
    .icon
      font-size: 12px
      color: $white
      transition: transform .3s

.signup-form,
.subscr-form
  position: relative
  width: 100%

.input-group
  position: relative
  width: 100%
  &__input
    width: 100%
    color: $text
    border-bottom: 1px solid #e0e0e0
    background-color: transparent
    padding: 10px 10px 10px 0
    font-family: $montserrat
    font-size: 12px
    font-weight: 500
    line-height: 1.2
    transition: border-bottom-color $tr
    +text-overflow
    .signup-form &
      color: $white
      padding-right: 60px
    .subscr-form &
      padding-right: 60px
    &:placeholder
      color: #a8a6a6
    &:focus
      border-bottom-color: $blackBG
      .signup-form &
        border-bottom-color: $white
      + .input-group__btn
        color: $orange
    &_textarea
      white-space: pre-wrap
      padding-right: 60px
    &.error
      border-bottom: 1px solid $extraorange !important
  &__btn
    position: absolute
    right: 0
    bottom: 10px
    display: inline-block
    background-color: transparent
    color: $blue
    font-family: $montserrat
    font-weight: 500
    font-size: 12px
    font-weight: 500
    line-height: 1.2
    transition: color $tr
    +hover
      color: $orange

textarea
  border: none
  border-bottom: 1px solid #e0e0e0
  height: 34px
  resize: none
  box-sizing: border-box
  display: block
  overflow: hidden

.adress-form
  &__label
    display: block
    margin-bottom: 13px
    @extend %title
    cursor: pointer
  &__checkbox
    opacity: 0
    visibility: hidden
    position: absolute
    height: 0
    &:checked
      ~ .adress-form__hidden
        display: block
  &__field
    width: 100%
    &:not(:last-child)
      margin-bottom: 8px
  &__hidden
    display: none

.bg-input
  width: 100%
  padding: 4px 4px 4px 8px
  border-radius: $radius
  background-color: #f7f7f7
  @extend %title
  color: $text
  border: 1px solid #f7f7f7
  &:placeholder
    color: $mainText
  &:focus
    border: 1px solid $blue

.help-block.form-error
  position: absolute
  top: 100%
  left: 0
  padding-top: 3px
  color: $extraorange
  font-size: 12px
  font-weight: 400
  line-height: 1.2
  .checkout-form__col &
    left: 23px

.contact-form
  max-width: 697px
  width: 100%
  &__title
    margin-bottom: 46px
    color: $text
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
    line-height: 1.25
    text-align: center
    +md 
      margin-bottom: 36px
    +sm 
      margin-bottom: 24px
  &__row
    position: relative
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
    &:not(:last-child)
      margin-bottom: 27px
  &__col
    position: relative
    +flex-size(38.5%)
    +sm 
      flex: 0 0 100%
      max-width: 100%
      &:not(:last-child)
        margin-bottom: 27px


// CHANGE DEFAULT SELECT2 STYLING
.select2-container .select2-selection--single .select2-selection__rendered
  @extend .bg-input

.select2-selection.select2-selection--single
  border: 1px solid #f7f7f7

.select2-container .select2-selection--single
  height: auto

.select2-dropdown
  background-color: #f7f7f7

.select2-container--open .select2-dropdown--below
  border-top: 1px solid #aaa

.select2-container--default .select2-results__option--highlighted[aria-selected]
  background-color: $blue