.samples
  margin-bottom: 40px
  &__wrapper
    display: flex
    border-radius: $radius
    overflow: hidden
    background-color: $white
    +sm 
      flex-direction: column
  &__descr
    padding: 124px 28px 24px
    +flex-size(240px)
    text-align: center
    background-image: $mainGradient
  &__title
    color: $white
  p
    color: rgba($white, 0.5)
  &__cards
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    flex-grow: 1
    padding: 70px 10px 65px
  &__card
    padding: 0 10px
