.icon-basket-small {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
}
.icon-basket {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-building {
  width: 1.07em;
  height: 1em;
  fill: currentColor;
}
.icon-card {
  width: 1.44em;
  height: 1em;
  fill: currentColor;
}
.icon-close-sm {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-globe {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-like {
  width: 1.25em;
  height: 1em;
  fill: currentColor;
}
.icon-money {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
}
.icon-next-arrow {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-pagination-arrow {
  width: 1.36em;
  height: 1em;
  fill: currentColor;
}
.icon-prev-arrow {
  width: 0.63em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-shield {
  width: 0.86em;
  height: 1em;
  fill: currentColor;
}
.icon-touch {
  width: 0.66em;
  height: 1em;
  fill: currentColor;
}
.icon-track {
  width: 1.4em;
  height: 1em;
  fill: currentColor;
}
.icon-up-arrow {
  width: 1.57em;
  height: 1em;
  fill: currentColor;
}
